/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
:root {
	--player-1-color: #ffbb00;
	--player-2-color: #6200ff;
}

/* Typography
--------------------------------------------- */
body {}

h1,
h2,
h3,
h4,
h5,
h6 {}

p {}


/* Elements
--------------------------------------------- */
ul {}

ol {}

dl {}

figure {}

table {}

body {
	background-color: #cacaca;
}


/* Links
--------------------------------------------- */
a {}

a:visited {}

a:hover {}

a:focus {}

a:active {}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */


/* Main
--------------------------------------------- */

#gameboard {
	display: grid;
	background-color: #fafafa;
	grid-template-columns: repeat(20, 1fr);
	grid-template-rows: repeat(20, 1fr);
	width: 40rem;
	height: 40rem;
	margin: 2rem auto;
}

@keyframes blkBullet {
	from {
		background-color: var(--player-2-color);
	}

	to {
		background-color: var(--player-1-color);
	}
}

@keyframes whtBullet {
	from {
		background-color: var(--player-1-color);
	}

	to {
		background-color: var(--player-2-color);
	}
}

@keyframes bulletCollision {
	from {
		background-color: red;
	}
	to {
		background-color: black;
	}
}

.cell {
	position: relative;
	border: 1px solid var(--player-2-color);
	background-color: var(--player-1-color);
}

.flipped {
	border: 1px solid var(--player-1-color);
	background-color: var(--player-2-color);
}

.whtPlayer {
	fill: var(--player-1-color);
}

.blkPlayer {
	fill: var(--player-2-color);
}

.blkBulletX {
	position: absolute;
	background-color: var(--player-2-color);
	top: 33%;
	height: 33%;
	width: 100%;
	animation-name: blkBullet;
	animation-duration: 1s;
}

.whtBulletX {
	position: absolute;
	background-color: var(--player-1-color);
	top: 33%;
	height: 33%;
	width: 100%;
	animation-name: whtBullet;
	animation-duration: 1s;
}

.blkBulletY {
	position: absolute;
	background-color: var(--player-2-color);
	left: 33%;
	height: 100%;
	width: 33%;
	animation-name: blkBullet;
	animation-duration: 1s;
}

.whtBulletY {
	position: absolute;
	background-color: var(--player-1-color);
	left: 33%;
	height: 100%;
	width: 33%;
	animation-name: whtBullet;
	animation-duration: 1s;
}

.bang {
	background-color: red;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	animation-name: bulletCollision;
	animation-duration: 1s;
}

/* Footer
--------------------------------------------- */