/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
:root {
	--player-1-color: #ffffff;
	--player-2-color: #000000;
}

/* Typography
--------------------------------------------- */
body {}

h1,
h2,
h3,
h4,
h5,
h6 { 
	margin: 0
}

h1 {
	font-size: 8rem;
	font-family: "Bungee Shade", sans-serif;
	font-weight: 400;
}

h2 {
	font-size: 4rem;
	font-family: "Bungee Shade", sans-serif;
	font-weight: 400;
}

h3 {
	font-size: 2.5rem;
	font-family: "Bungee", sans-serif;
	font-weight: 400;
}

p {
	padding: 0;
	margin: 0;
	font-size: 2rem;
	font-family: "Days One", sans-serif;
	font-weight: 400;
}

button {
	padding: 0;
	margin: 0;
	font-size: 2rem;
	font-family: "Bungee", sans-serif;
	font-weight: 400;
}


/* Elements
--------------------------------------------- */

body {
	background-color: #cacaca;
}

main {
	position: relative;
	height: 100vh;
}


/* Links
--------------------------------------------- */


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */


/* Main
--------------------------------------------- */


/* Page styling */

@keyframes pageTransitionIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#start-screen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: max-content;
	height: max-content;
	opacity: 1;
}

#how-screen {
	display: none;
	animation: 2s pageTransitionIn;
}

#game-screen {
	display: none;
	justify-content: center;
	align-items: center;
	min-width: 100%;
	min-height: 100%;
	animation: 2s pageTransitionIn;
}

#player1-clip {
	display: grid;
	width: fit-content;
	height: fit-content;
	margin: 2rem;
	z-index: 99;
}

#player2-clip {
	display: grid;
	width: fit-content;
	height: fit-content;
	margin: 2rem;
	z-index: 99;
}

#gameboard {
	display: grid;
	background-color: #fafafa;
	width: fit-content;
	height: fit-content;
	z-index: 99;
}

.video-background {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
	z-index: 1;
} 

.title {
	position: relative;
	text-align: center;
	padding: 1rem 3rem;
	margin: 2rem;
	z-index: 99;
}


.sm-title {
	position: relative;
	text-align: center;
	margin: 0;
	z-index: 99;
}

.sub-title {
	position: relative;
	text-align: center;
	padding: 1rem;
	margin: 0;
	z-index: 99;
}


.btn {
	position: relative;
	display: block;
	padding: 1rem 2rem;
	border-radius: 1rem;
	z-index: 99;
	transition: font-size 0.5s, padding 0.5s;
}

.btn:hover {
	font-size: 2.4rem;
	padding: 1.5rem 2.5rem;
}

.start-btn {
	margin: 1rem auto 2rem auto;
}

.how-btn {
	margin: 4rem auto 2rem auto;
}

.play-btn {
	/* position: relative; */
	/* width: fit-content; */
	/* height: fit-content; */
	/* bottom: 1rem; */
	/* left: 0; */
	/* right: 0; */
}

.how-content {
	position: relative;
	max-width: 60%;
	background-color: #cacaca;
	padding: 2rem;
	margin: 1rem auto;
	border-radius: 1rem;
	border: 2px solid #000000;
	z-index: 9;
}

.player1-bullet-in-clip {
	border: 1px solid var(--player-2-color);
	background-color: var(--player-1-color);
	height: 25px;
	width: 15px;
}

.player1-no-bullet-in-clip {
	border: 1px solid var(--player-2-color);
	background-color: #cacaca;
	height: 25px;
	width: 15px;
}


.player2-bullet-in-clip {
	border: 1px solid var(--player-1-color);
	background-color: var(--player-2-color);
	height: 25px;
	width: 15px;
}

.player2-no-bullet-in-clip {
	border: 1px solid var(--player-1-color);
	background-color: #cacaca;
	height: 25px;
	width: 15px;
}


/* game elems styling */

@keyframes blkBullet {
	from {
		background-color: var(--player-2-color);
	}

	to {
		background-color: var(--player-1-color);
	}
}

@keyframes whtBullet {
	from {
		background-color: var(--player-1-color);
	}

	to {
		background-color: var(--player-2-color);
	}
}

@keyframes bulletCollision {
	from {
		background-color: red;
	}
	to {
		background-color: black;
	}
}

.cell {
	position: relative;
	border: 1px solid var(--player-2-color);
	background-color: var(--player-1-color);
}

.flipped {
	border: 1px solid var(--player-1-color);
	background-color: var(--player-2-color);
}

.whtPlayer {
	fill: var(--player-1-color);
}

.blkPlayer {
	fill: var(--player-2-color);
}

.blkBulletX {
	position: absolute;
	background-color: var(--player-2-color);
	top: 33%;
	height: 33%;
	width: 100%;
	animation-name: blkBullet;
	animation-duration: 1s;
}

.whtBulletX {
	position: absolute;
	background-color: var(--player-1-color);
	top: 33%;
	height: 33%;
	width: 100%;
	animation-name: whtBullet;
	animation-duration: 1s;
}

.blkBulletY {
	position: absolute;
	background-color: var(--player-2-color);
	left: 33%;
	height: 100%;
	width: 33%;
	animation-name: blkBullet;
	animation-duration: 1s;
}

.whtBulletY {
	position: absolute;
	background-color: var(--player-1-color);
	left: 33%;
	height: 100%;
	width: 33%;
	animation-name: whtBullet;
	animation-duration: 1s;
}

.bang {
	background-color: red;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	animation-name: bulletCollision;
	animation-duration: 1s;
}

/* Footer
--------------------------------------------- */