/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {}

h1,
h2,
h3,
h4,
h5,
h6 {}

p {}


/* Elements
--------------------------------------------- */
ul {}

ol {}

dl {}

figure {}

table {}

body {
	background-color: #cacaca;
}


/* Links
--------------------------------------------- */
a {}

a:visited {}

a:hover {}

a:focus {}

a:active {}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */


/* Main
--------------------------------------------- */

#gameboard {
	display: grid;
	background-color: #fafafa;
	grid-template-columns: repeat(20, 1fr);
	grid-template-rows: repeat(20, 1fr);
	width: 40rem;
	height: 40rem;
	margin: 2rem auto;
	/* gap: .125rem; */

}

.cell {
	border: 1px solid #000;
}

.flipped {
	border: 1px solid fafafa;
	background-color: #000;
}

.player1 {
	/* position: absolute; */
	background-color: #000;
	z-index: 10;
	/* grid-column: 2/3;
	grid-row: 2/3; */
}

.player2 {
	/* position: absolute; */
	background-color: #777;
	z-index: 10;

	/* grid-column: 3/4;
	grid-row: 3/4; */
}

/* Footer
--------------------------------------------- */